.input-div {
    margin: 50px auto;
}

display {
    padding: 0 15px;
}
.data {
    height: 400px;
}

#mapid {
    width: 100%;
    height: 100%;
    border: 2px solid #e9e9ee;
}

ul {
    list-style: none;
}

#fema-label {
    border: 1px solid #bbb;
    padding: 20px;
}

#katrisk-label {
    border: 1px solid #bbb;
    padding: 20px;
}

body {
    background-color: #FCF8F8;
}